html {
	background-color: #f0f0f0;
}
body {
	max-width: 600px;
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px 0;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	background-color: white;
}

p, h1 {
	font-family: sans-serif;
	padding: 0 20px;
}

h1 {
	border-bottom: 1px solid #dddddd;
}
